
    <!--Incluyendo header-->
    <%- include('layouts/admin/adminHeader'); -%>
   
    <!--main content-->
 <div id="main-content"><%- include('content/admin/main'); -%></div>
 <!--book content-->
 <div id="book-content"><%- include('content/admin/book'); -%></div>
 <!--movie content-->
 <div id="movie-content"><%- include('content/admin/movie'); -%></div>
 <!--video content-->
 <div id="video-content"><%- include('content/admin/video'); -%></div>
 <!--photo content-->
 <div id="photo-content"><%- include('content/admin/photo'); -%></div>
 <!--photo content-->
 <div id="edit-content"><%- include('content/admin/edit'); -%></div>
<!--Incluyendo Footer-->